@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>

    <a href="@Url.Action("../Proyecto")" class="btn btn-primary">Proyecto</a>
    <a href="@Url.Action("../UnidadInmobiliaria")" class="btn btn-primary">Unidad Inmobiliaria</a>
    <a href="@Url.Action("../Proforma")" class="btn btn-primary">Proforma</a>
       <a href="@Url.Action("../Usuario")" class="btn btn-primary">Usuarios</a>
</p>
